<!DOCTYPE html>
html(lang="en")
head
    meta(charset="UTF-8")
    meta(name="viewport", content="width=device-width, initial-scale=1.0")
    meta(http-equiv="X-UA-Compatible", content="ie=edge")
    title bootstrap-scss-practice-1
    link(rel="stylesheet", href="all.css", type="text/css")
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css" integrity="sha384-BVYiiSIFeK1dGmJRAkycuHAHRg32OmUcww7on3RYdg4Va+PmSTsz/K68vbdEjh4u" crossorigin="anonymous">
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js" integrity="sha384-Tc5IQib027qvyjSMfHjOMaLkfuWVxZxUPnCJA7l2mCWNIpG9mGCD8wGNIcPD7Txa" crossorigin="anonymous"></script>
body
    header.jumbotron
        .container.text-center
            h3 當城市披上了蟬翼般的金紗
            h1 斜陽，暮光
    section.intro
        .container
            .row
                .col-md-12
                    h2.section-title 上一次出神的望著夕陽是什麼時候呢？
                    h3.section-subtitle 上一次看見日暮，仍然紅的艷人
            .row
                .col-md-4.col-sunset
                    img(src="http://4.blog.xuite.net/4/8/1/5/237093459/blog_4202130/txt/310769586/5.jpg", alt="")
                    h4 一望無際的夕陽美景
                    h5.text-muted 帶來無與倫比的放鬆
                .col-md-4.col-sunset
                    img(src="http://4.blog.xuite.net/4/8/1/5/237093459/blog_4202130/txt/310769586/5.jpg", alt="")
                    h4 一望無際的夕陽美景
                    h5 帶來無與倫比的放鬆
                .col-md-4.col-sunset
                    img(src="http://4.blog.xuite.net/4/8/1/5/237093459/blog_4202130/txt/310769586/5.jpg", alt="")
                    h4 一望無際的夕陽美景
                    h5 帶來無與倫比的放鬆
    section.story
        .container
            .row
                .col-md-12
                    img.icon-sunset(src="https://cdn2.iconfinder.com/data/icons/lovely-weather-icons/32/sunset-512.png", alt="")
                    h2.section-title 夕陽的故事
                    h3.section-subtitle 日落的過程，並不那麼簡單
            .row
                .col-md-6
                    .h2 光線在大氣層內的折射
                    .content 下沉的陽光路線在接近地平線的附近已經被高度的偏折，使得視太陽日沒時，真實的太陽已經在地平線下約一個太陽的直徑（約0.5°）
                .col-md-6
                    .h2 日沒不能與薄暮（dusk）混淆
                    .content 這是黑暗降臨的時刻，此刻太陽位於地平線下18°。從日沒到薄暮的期間稱為暮光。
    section.pictures
        .container-fluid
            .row
                .col-md-6.pic1
                    .text-panel
                        .h1 日暮下的火燒雲
                        p 日落時在天邊出現的的雲霞，是大氣變化的常見現象。
                .col-md-6.pic2
                    .text-panel
                        .h1 日落當下的雲隙光
                        p 從雲霧的邊緣射出的陽光，照亮空氣中的灰塵而使光芒清晰可見
    section.ask
        .container
            .row
                .col-md-12
                    h2.section-title  你和夕陽曾有過什麼樣的浪漫呢？
                    h3.section-subtitle 說說關於你，關於日暮的故事
                    input.form-control

    
    