// for debug
body {
    section, header {
        // display: none;
    }
    section.story {
        display: block;
    }
}


html, body {
    margin: 0;
    padding: 0;
}
* {
    // border: 2px solid red;
    box-sizing: border-box;
    font-family: 微軟正黑體;
    text-align: center;
}



header.jumbotron {
    color: #F1F2EC;
    // color: #81A3A7;
    background-image: url(https://c1.staticflickr.com/8/7337/11111460673_fd95569c50_b.jpg);
    background-size: cover;
    background-position: center center;
    padding: 160px 0;
}

section.intro {
    // text-align: center;
    padding: 80px 0px;
    .section-title {
        font-size: 36px;
        margin-top: 0px;
    }
    .section-subtitle {
        font-size: 16px;
    }
    .col-sunset {
        padding: 90px;
        img {
            width: 100%;
            border-radius: 50%;
        }
        h5 {
            font-size: 12px;
            color: #777;
        }
    }
}

section.story {
    background-color: #eee;
    img.icon-sunset {
        width: 200px;
        margin-bottom: 20px;
    }
    .col-md-6 {
        padding: 20px;
    }
}


