// for debug
// body {
//     * {
//         border: 2px solid red;
//     }
//     section, header {
//         display: none;
//     }
//     section.ask {
//         display: block;
//     }
// }


html, body {
    margin: 0;
    padding: 0;
}
* {
    box-sizing: border-box;
    font-family: 微軟正黑體;
    text-align: center;
}

section {
    .section-title {
        font-size: 36px;
        margin-top: 0px;
    }
    .section-subtitle {
        font-size: 16px;
    }
}

header.jumbotron {
    color: #F1F2EC;
    // color: #81A3A7;
    background-image: url(https://c1.staticflickr.com/8/7337/11111460673_fd95569c50_b.jpg);
    background-size: cover;
    background-position: center center;
    padding: 160px 0;
}

section.intro {
    // text-align: center;
    padding: 80px 0px;
    .col-sunset {
        padding: 90px;
        img {
            width: 100%;
            border-radius: 50%;
        }
        h5 {
            font-size: 12px;
            color: #777;
        }
    }
}

section.story {
    background-color: #eee;
    padding: 80px;
    img.icon-sunset {
        width: 200px;
        margin-bottom: 20px;
    }
    .col-md-6 {
        padding: 20px;
    }
    .content {
        line-height: 26px;
    }
}

section.pictures {
    color: white;
    .col-md-6 {
        padding: 150px;
        background-size: cover;
        background-position: center center;
        p {
            opacity: 0.6;
        }

        &::before {
            content: "";
            display: block;
            width: 100%;
            height: 480px; // 100%
            // border: 5px solid black;

            // 因為包在bootstrap的class裡面，預設會置中顯示
            // 測試before
            // 為了要讓圖片從左上角開始掛，所以要轉為absolute去做操作
            position: absolute;
            top: 0;
            left: 0;
            
            z-index: -1;

            // transition要給在漸變的標的本身，而不是hover等pseudo element，這樣才會hover時才會運作
            transition-duration: 0.5s;

            // 使漸變的原點從中央開始，而非左上角
            background-position: center center;

        }

        &:hover {
            p {
                opacity: 0.8;
            }
            &::before {
                // !! 不要設定錯了 !! 要讓background-size放大，而不是before pseudo element放大 !!
                // width: 135%;
                background-size: 210%;
                filter: brightness(0.5);
            }
        }
    }
    .pic1 {
        // background-image: url(http://static.ettoday.net/images/2666/2666332.jpg);
        &::before {
            background-image: url(http://static.ettoday.net/images/2666/2666332.jpg);
            
            // 因為背景圖片大小會不一樣，所以也是在區塊客製化的部分做設定
            // 給超過100%，使避免圖片重複的問題
            background-size: 175% auto; 
        }
    }
    .pic2 {
        &::before {
           background-image: url(https://upload.wikimedia.org/wikipedia/commons/thumb/b/b9/%E6%B7%A1%E6%B0%B4%E7%9A%84%E8%80%B6%E7%A9%8C%E5%85%89P1090153.jpg/800px-%E6%B7%A1%E6%B0%B4%E7%9A%84%E8%80%B6%E7%A9%8C%E5%85%89P1090153.jpg); 
           
           // 因為背景圖片大小會不一樣，所以也是在區塊客製化的部分做設定
           // 給超過100%，使避免圖片重複的問題
           background-size: 160% auto;
           
        }
    }
}

section.ask {
    padding: 60px;
    color: white;
    background-color: #D0511D;
}

